
.carousel
    @media screen and (min-width:960px)
        display: flex
        justify-content: center
        padding: 1rem 0
        height: 90vh
        width: auto

    img
        height: auto
        max-width: 100%
