footer
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column
    width: 100%
    background-color: #28282B
    .title
        h1
            color: aliceblue

    @media screen and (min-width:720px)
        justify-content: space-evenly
        height: 6rem
        .icons
            flex-flow: row
        a
            color: aliceblue
            .icon
                margin: 1rem

    @media screen and (min-width:960px)
        justify-content: space-evenly
        height: 7rem
